bcrypt==4.1.3
blinker==1.8.2
cffi==1.16.0
click==8.1.7
cryptography==42.0.7
Flask==3.0.3
Flask-Cors==4.0.1
flask-marshmallow==1.2.1
Flask-SQLAlchemy==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.4
jwt==1.3.1
MarkupSafe==2.1.5
marshmallow==3.21.2
marshmallow-sqlalchemy==1.0.0
mysqlclient==2.2.4
packaging==24.0
pycparser==2.22
PyJWT==2.8.0
SQLAlchemy==2.0.30
typing_extensions==4.12.0
Werkzeug==3.0.3
